<header class="header-container">
  <div class="logo">
    <img src="../../assets/img/logo-small.png">
  </div>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <div class="dropdown">
        <button class="dropbtn">Features</button>
        <div class="dropdown-content">
          <a href="#">Chats</a>
          <a href="#">Profiles</a>
          <a href="#">Personal Menu</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Photos</button>
        <div class="dropdown-content">
          <a href="#">iOS</a>
          <a href="#">Android</a>
        </div>
      </div>
      <li class="highlight"><a href="#">Learn More</a></li>
    </ul>
  </nav>
</header>
<main class="main-container">
  <section class="info">
    <h1>A smart Messaging App for Everyone</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
      when an unknown printer took a galley of type and scrambled it to make a type 
      specimen book. 
    </p>
    <a href="https://play.google.com/store/apps">Go to App Store</a>
  </section>
  <div class="device">
    <figure>
      <img src="../../assets/img/phone-photo.png" alt="+TEC app on a black iPhone X">
    </figure>
  </div>
  <div>

  </div>
</main>
